.first-section{
    margin-top: 140px;
}
.fa-check-circle{
    color: #5243C2;
    background-color: #5243c24b;
    border-radius: 50%;
}
.button{
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    color: #5243C2;
    background-color: #5243c24b;
}
.package{
    margin-top: -40px;
    padding: 30px;
   background-color: #3F87F5;
  
    
}
.package button{
    background-color: white;
}
.package .fa-check-circle{
    color: white;
    background-color: rgba(0, 255, 255, 0.363);
}
.second-section{
    margin-top: 100px;
    margin-bottom: 100px;
}
.footer{
    height: 300px;
    background-color: black;
}